@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-VariableFont_wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

#app {
    font-family: 'Dosis', sans-serif;
}
.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
    color: #00B9F7
}
body {
    color: grey
}